<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Cargar</title>
</head>
<body class="registro">
    <div class="container">
        <header class="container-fluid" id="principio">
            <div class="row justify-content-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="fw-normal text-dark fw-bold">Rent-A-Truck</h1>
                    <a href="/"><img class ="logo rounded-pill" src="/img/logo.jpg" alt="logo"></a>
                    <h3 class="fw-bold text-dark">Nuevo Producto</h2>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                
                    <form class="row col-8 g-3 fondo-registro m-4 rounded-3" action="/products/cargar" method="post" enctype="multipart/form-data">
                        <div class="col-md-6">
                            <label for="marcas" class="form-label">Marca</label>
                            <select name="marcas" id="marcas" class="form-control">
                                <option value="">Seleccione Marca</option>
                                <% marcas.forEach(marcas => { %>
                                    <option value="<%= marcas.id %>"><%= marcas.nombre %></option>
                                <% }) %> 
                            </select>
                            <% if (locals.errors && errors.marcas) { %>
                                <h5 class = "text-danger ">
                                    <%= errors.marcas.msg %> 
                                </h5>
                            <% } %>

                        </div>
                        <div class="col-md-6">
                            <label for="modelo" class="form-label">Modelo</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.modelo ? 'is-invalid' : null %>" id="modelo" name="modelo" value="<%= locals.oldData ? oldData.modelo : null %>">

                            <% if (locals.errors && errors.modelo) { %>
                                <h5 class = "text-danger">
                                    <%= errors.modelo.msg %> 
                                </h5>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="patente" class="form-label">Patente</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.patente ? 'is-invalid' : null %>" id="patente" name="patente" value="<%= locals.oldData ? oldData.patente : null %>">

                            <% if (locals.errors && errors.patente) { %>
                                <h5 class = "text-danger">
                                    <%= errors.patente.msg %> 
                                </h5>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="tipo_mercaderia" class="form-label">Tipo de Carga</label>
                            <select name="tipo_mercaderia" id="tipo_mercaderia" class="form-control">
                                <option value="">Seleccione tipo de mercaderia</option>
                                <% tipo_mercaderia.forEach(mercaderias => { %>
                                    <option value="<%= mercaderias.id %>"><%= mercaderias.nombre %></option>
                                <% }) %> 
                            </select>
                            <% if (locals.errors && errors.tipo_mercaderia) { %>
                                <h5 class = "text-danger">
                                    <%= errors.tipo_mercaderia.msg %> 
                                </h5>
                            <% } %>
                        </div>

                        <div class="col-md-6">
                            <label for="km" class="form-label">Kilometraje</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.km ? 'is-invalid' : null %>" id="km" name="km" value="<%= locals.oldData ? oldData.km : null %>">

                            <% if (locals.errors && errors.km) { %>
                                <h5 class = "text-danger">
                                    <%= errors.km.msg %> 
                                </h5>
                            <% } %>
                        </div>

                        <div class="col-md-6">
                            <label for="precio_km" class="form-label">Precio/km</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.precio_km ? 'is-invalid' : null %>" id="precio_km" name="precio_km" value="<%= locals.oldData ? oldData.precio_km : null %>">

                            <% if (locals.errors && errors.precio_km) { %>
                                <h5 class = "text-danger">
                                    <%= errors.precio_km.msg %> 
                                </h5>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="ruta_img" class="form-label">Imagen</label>
                            <input type="file" enctype="" class="form-control  <%= locals.errors && errors.ruta_img ? 'is-invalid' : null %>" id="ruta_img" name="ruta_img" accept="image/*">

                            <% if (locals.errors && errors.ruta_img) { %>
                                <h5 class = "text-danger">
                                    <%= errors.ruta_img.msg %> 
                                </h5 >
                            <% } %>
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn-home-inicio-sesion button-h">Guardar</button>
                          </div>
                    </form>
                </div>
            </div> 
        </main>
    </div>

        <footer class="text-dark bg-light mt-3">
        <%- include('../partials/footer') %>
        </footer>
</body>
</html>