<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Detalle</title>
</head>
<body class="registro">
    <div class="container">
        <header class="container-fluid" id="principio">
            <div class="row justify-content-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="fw-normal text-dark fw-bold">Rent-A-Truck</h1>
                    <a href="/"><img class ="logo rounded-pill" src="/img/logo.jpg" alt="logo"></a>
                    <h3 class="fw-bold text-dark">Detalle de producto:<%=camion.nombre%> </h2>
                </div>
            </div>
        </header>
        <main>
            <section class="container">
                <article class="row">
                    <div class="col" >
                        <div class="row justify-content-center align-items-center">
                            <img src="/img/<%=camion.rutaImg%>" alt="img<%=camion.nombre%>">
                        </div>
                    </div> 
                    <div class="col">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">   
                                    <div class="card border-light mb-3 m-3 w-80" >
                                         
                                        <div class="card-body">
                                            <h1 class="fs-2 fw-bold"><%= camion.nombre %></h1>
                                            <p> 
                                                <ul class="list-group list-group-flush fw-bold">
                                                    <li  class="list-group-item ">Marca: <%= camion.marca %></li>
                                                    <li  class="list-group-item">Modelo: <%= camion.modelo %></li>
                                                    <li  class="list-group-item"> Tipo de carga: <br> <%= camion.tipoC %></li>
                                                    <li  class="list-group-item">Precio por Km: $<%= camion.precioKm %></li>
                                                </ul>
                                                </p>
                                            <div class="row">
                                                <div class="col-12 row justify-content-around">
                                                    <button class="btn-home-inicio-sesion button-h"> <a href="/products/carrito" class="text-reset text-decoration-none">Contratar</a> </button>
                                                    <button class="btn-home-inicio-sesion button-h"> <a href="/products/editar/<%= camion.id %> " class="text-reset text-decoration-none">Editar</a> </button>
                                                    <form action="/products/borrar/<%= camion.id %>?_method=DELETE" method="post">
                                                        <button class="btn-home-inicio-sesion button-h">Borrado </button>
                                                    </form>
                                                </div>  
            
                                            </div>                                  
                                        </div>
                                    </div>
                                </div>  
                            </div >
                            <div class="col">
                                
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            
        </main>
    </div>

        <footer class="text-dark bg-light mt-3">
        <%- include('../partials/footer') %>
        </footer>
</body>
</html>