<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Cargar</title>
</head>
<body class="registro">
    <div class="container">
        <header class="container-fluid" id="principio">
            <div class="row justify-content-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="fw-normal text-dark fw-bold">Rent-A-Truck</h1>
                    <a href="/"><img class ="logo rounded-pill" src="/img/logo.jpg" alt="logo"></a>
                    <h3 class="fw-bold text-dark">Editar producto : <%= producto.marcas.nombre %> <%= producto.modelo %> </h2>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                
                    <form class="row col-8 g-3 fondo-registro m-4 rounded-3" action="/products/editar/<%= producto.id  %>?_method=PUT" method="post" enctype="multipart/form-data"> 
                        <div class="col-md-6">
                        <label for="marca" class="form-label">Marca</label>
                        <select name="marca" id="marca" class="form-control">
                            <% marcas.forEach(marcas => { %>
                                <% if (producto.id_marca == marcas.id) { %>
                                 <option value="<%= marcas.id %>" selected><%= marcas.nombre %></option>
                                <% } else { %>
                                    <option value="<%= marcas.id %>"><%= marcas.nombre %></option>
                                <% } %> 
                            <% }) %>
                        </select>
                        <% if (locals.errors && errors.nombre) { %>
                            <h5 class = "text-danger">
                                <%= errors.nombre.msg %> 
                            </h5>
                        <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="inputModelo" class="form-label">Modelo</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.modelo ? 'is-invalid' : null %>" id="inputModelo" name="modelo" value="<%= locals.oldData && oldData.modelo? oldData.modelo: producto.modelo %>">

                            <% if (locals.errors && errors.modelo) { %>
                                <h5 class = "text-danger">
                                    <%= errors.modelo.msg %> 
                                </h5>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="patente" class="form-label">Patente</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.origen ? 'is-invalid' : null %>" id="patente" name="patente" value="<%= locals.oldData && oldData.patente? oldData.patente: producto.patente %>">

                            <% if (locals.errors && errors.patente) { %>
                                <h5 class = "text-danger">
                                    <%= errors.patente.msg %> 
                                </h5>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="tipo_mercaderia" class="form-label">Tipo de Carga</label>
                            <select name="tipo_mercaderia" id="tipo_mercaderia" class="form-control">
                                <% tipo_mercaderia.forEach(tipo_mercaderia => { %>
                                    <% if (producto.id_tipo_mercaderia == tipo_mercaderia.id) { %>
                                        <option value="<%= tipo_mercaderia.id %>" selected><%= tipo_mercaderia.nombre %></option>
                                    <% } else { %>
                                        <option value="<%= tipo_mercaderia.id %>"><%= tipo_mercaderia.nombre %></option>
                                    <% } %> 
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.tipoC) { %>
                                <h5 class = "text-danger">
                                    <%= errors.tipoC.msg %> 
                                </h5>
                            <% } %>
                        </div>

                        <div class="col-md-6">
                            <label for="km" class="form-label">Kilometraje</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.origen ? 'is-invalid' : null %>" id="km" name="km" value="<%= locals.oldData && oldData.km? oldData.km: producto.km %>">

                            <% if (locals.errors && errors.km) { %>
                                <h5 class = "text-danger">
                                    <%= errors.km.msg %> 
                                </h5>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="precio_km" class="form-label">Precio</label>
                            <input type="text" class="form-control  <%= locals.errors && errors.precioKm ? 'is-invalid' : null %>" id="precio_km" name="precio_km" value="<%= locals.oldData && oldData.precio_km? oldData.precio_km: producto.precio_km %>">

                            <% if (locals.errors && errors.precio_km) { %>
                                <h5 class = "text-danger">
                                    <%= errors.precio_km.msg %> 
                                </h5>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <label for="inputFile" class="form-label">Imagen</label>
                            <input type="file" enctype="" class="form-control  <%= locals.errors && errors.ruta_img ? 'is-invalid' : null %>" id="inputFile" name="rutaImg" value="<%= locals.oldData && oldData.ruta_img? oldData.ruta_img: producto.ruta_img %> ">

                            <% if (locals.errors && errors.ruta_img) { %>
                                <h5 class = "text-danger">
                                    <%= errors.ruta_img.msg %> 
                                </h5>
                            <% } %>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn-home-inicio-sesion button-h">Guardar</button>
                          </div>
                    </form>
                </div>
            </div> 
        </main>
    </div>

        <footer class="text-dark bg-light mt-3">
        <%- include('../partials/footer') %>
        </footer>
</body>
</html>