<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Registro</title>
</head>

<body class="body-home registro">
    <div class="d-flex justify-content-center">
        <div class="row section-1-home container ">
            <div class="row justify-content-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="fw-normal text-dark fw-bold">Rent-A-Truck</h1>
                    <a href="/"><img class ="logo rounded-pill" src="/img/logo.jpg" alt="logo"></a>
                    <h3 class="fw-bold text-dark">Creá tu cuenta</h2>
                </div>
            </div>
            <form action="/user/registro" method="post" enctype="multipart/form-data" class="row g-3 fondo-registro">
                <div class="col-md-4">
                  <label for="inputNombre4" class="form-label">Nombre/Razón social</label>
                  <input type="text" name="nombre" class="form-control <%=locals.errors && errors.nombre ? 'is-invalid' : null %>" id="inputNombre4"  value="<%=locals.oldData ? oldData.nombre : null %>" >

                  <% if (locals.errors && errors.nombre) { %>
                    <h5 class = "text-danger">
                        <%= errors.nombre.msg %> 
                    </h5>
                <% } %>
                </div>

                <div class="col-8">
                    <label for="inputAddress" class="form-label">Dirección</label>
                    <input type="text" class="form-control <%=locals.errors && errors.direccion ? 'is-invalid' : null %> " id="inputAddress" name="direccion" value="<%= locals.oldData ? oldData.direccion : null %>">

                    <% if (locals.errors && errors.direccion) { %>
                        <h5 class = "text-danger">
                            <%= errors.direccion.msg %> 
                        </h5>
                        <% } %>
                </div>
                <div class="col-md-4">
                    <label for="inputApellido4" class="form-label">Apellido/Nombre Fantasía</label>
                    <input type="text" class="form-control <%= locals.errors && errors.apellido ? 'is-invalid' : null %>" id="inputApellido4" name="apellido" value="<%= locals.oldData ? oldData.apellido : null %>">

                    <% if (locals.errors && errors.apellido) { %>
                        <h5 class = "text-danger">
                            <%= errors.apellido.msg %> 
                        </h5>
                        <% } %>
                </div>
                <div class="col-8">
                      <label for="inputAddress2" class="form-label">Dirección 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Casa, departamento, etc." name="direccion2" value="<%= locals.oldData ? oldData.direccion2 : null %>">
                </div>
                <div class="col-md-4">
                    <label for="inputDNI4" class="form-label">DNI o CUIT</label>
                    <input type="number" class="form-control <%= locals.errors && errors.dni ? 'is-invalid' : null %>" id="inputDNI4" name="dni" value="<%= locals.oldData ? oldData.dni : null %>">

                    <% if (locals.errors && errors.dni) { %>
                        <h5 class = "text-danger">
                            <%= errors.dni.msg %> 
                        </h5>
                        <% } %>
                </div>
                <div class="col-md-4">
                    <label for="inputCity" class="form-label">Ciudad</label>
                    <input type="text" class="form-control <%= locals.errors && errors.ciudad ? 'is-invalid' : null %>" id="inputCity" name="ciudad" value="<%= locals.oldData ? oldData.ciudad : null %>">

                    <% if (locals.errors && errors.ciudad) { %>
                        <h5 class = "text-danger">
                            <%= errors.ciudad.msg %> 
                        </h5>
                        <% } %>
                </div>
                <div class="col-md-4">
                    <label for="inputProvincia" class="form-label">Estado/Provincia</label>
                    <input type="text" class="form-control <%= locals.errors && errors.provincia ? 'is-invalid' : null %>" id="inputProvincia" name="provincia" value="<%= locals.oldData ? oldData.provincia : null %>">

                    <% if (locals.errors && errors.provincia) { %>
                        <h5 class = "text-danger">
                            <%= errors.provincia.msg %> 
                        </h5>
                        <% } %>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail4" class="form-label">E-Mail</label>
                    <input type="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" id="inputEmail4" name="email" value="<%= locals.oldData ? oldData.email : null %>">

                    <% if (locals.errors && errors.email) { %>
                        <h5 class = "text-danger">
                            <%= errors.email.msg %> 
                        </h5>
                        <% } %>
                </div>
                <div class="col-md-4">
                    <label for="inputCodigo" class="form-label">Código Postal</label>
                    <input type="number" class="form-control" id="inputCodigo" name="codigopostal">
                </div>
                <div class="col-md-4">
                    <label for="inputPais" class="form-label">País</label>
                    <select class="form-select  <%= locals.errors && errors.pais ? 'is-invalid' : null %>" id="inputPais" aria-label="Default select example" name="pais">
                    
                    <option value="">Seleccione País</option>

                     <% let paises = ['Argentina', 'Brasil', 'Uruguay', 'Chile', 'Paraguay', 'Bolivia', 'Venezuela']; %> 
                     <% for (const cadaElemento of paises) { %> 
            
                     <option
                     <%= locals.oldData && (cadaElemento === oldData.pais) ? 'selected' : null %> 
                     > <%= cadaElemento %>  </option>
                            
                    <% } %> 
                    </select>
                    <% if (locals.errors && errors.pais) { %>
                        <h5 class="text-danger">
                            <%= errors.pais.msg %>   
                       </h5>
                    <% } %>
                    
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Contraseña</label>
                  <input type="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" id="inputPassword4" name="password">

                  <% if (locals.errors && errors.password) { %>
                    <h5 class = "text-danger">
                        <%= errors.password.msg %> 
                    </h5>
                    <% } %>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword2" class="form-label">Repita su contraseña</label>
                    <input type="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" id="inputPassword2" name="password2">

                    <% if (locals.errors && errors.password) { %>
                        <h5 class = "text-danger">
                            <%= errors.password.msg %> 
                        </h5>
                        <% } %>
                  </div>
                <div class="col-md-6 mt-4">
              
                    <input type="file" name="img" class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.img) { %>
                        <h5 class = "text-danger">
                            <%= errors.img.msg %> 
                        </h5>
                        <% } %>
                  
                </div>

                <div class="col-12 my-2">
                  <button type="submit" class="btn-home-inicio-sesion button-h">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>