<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Registro</title>
    <script src="/js/editarUsuario.js"></script>
</head>

<body class="body-home registro">
    <div class="d-flex justify-content-center">
        <div class="row section-1-home container ">
            <div class="row justify-content-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="fw-normal text-dark fw-bold">Rent-A-Truck</h1>
                    <a href="/"><img class ="logo rounded-pill" src="/img/logo.jpg" alt="logo"></a>
                    <h3 class="fw-bold text-dark">Editando usuario: <%= locals.usuarioLogueadoVistas.nombre%> </h2>
                </div>
            </div>
            <form action="/user/registro/<%=usuario.id%>?_method=PUT" method="post" enctype="multipart/form-data" class="row g-3 fondo-registro">
                <div class="col-md-6 input-edit">
                  <label for="inputNombre4" class="form-label">Nombre/Razón social</label>
                  <input type="text" name="nombre" class="form-control" id="inputNombre4"  value="<%= usuario.nombre %>">
                  <h5></h5>
                </div>
                <div class="col-md-6 input-edit">
                    <label for="inputAddress" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="inputAddress" name="direccion" value="<%= usuario.direccion %>">
                    <h5></h5>
                </div>
                <div class="col-md-6 input-edit">
                    <label for="inputApellido4" class="form-label">Apellido/Nombre Fantasía</label>
                    <input type="text" class="form-control" id="inputApellido4" name="apellido" value="<%= usuario.apellido %>">
                    <h5></h5>
                </div>
                <div class="col-md-6 input-edit">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono">
                    <h5></h5>
              </div>
                <div class="col-md-6 input-edit">
                    <label for="inputDNI4" class="form-label">DNI o CUIT</label>
                    <input type="number" class="form-control" id="inputDNI4" name="dni" value="<%= usuario.dni %>">
                    <h5></h5>
                </div>
                <div class="col-md-6 input-edit">
                    <label for="inputEmail4" class="form-label">E-Mail</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" value="<%= usuario.email %>">
                    <h5></h5>
                </div>
                <div class="col-md-6 input-edit">
                  <label for="inputPassword4" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="inputPassword4" name="password">
                  <h5></h5>
                </div>
                <div class="col-md-6 input-edit">
                    <label for="inputPassword2" class="form-label">Repita su contraseña</label>
                    <input type="password" class="form-control" id="inputPassword2" name="password2">
                    <h5></h5>
                  </div>
                  <div class="col-md-6 mt-4 input-edit">
              
                    <input type="file" name="img" class="form-control">
                </div>
                <div class="col-md-6 mt-4">
                    <select name="id_rol" id="" class="form-control">
                        <% rol.forEach((cadaElemento) => { %>
                            
                            <option value="<%= cadaElemento.id %> "> <%= cadaElemento.nombre %>  </option>
      
                        <% }) %> 
                    </select>      
                      </div>
      
                <div class="col-12 my-2">
                  <button type="submit" class="btn-home-inicio-sesion button-h">Editar </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>